html,body
{
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 100%;
    backdrop-filter: blur(5px);
}
.header{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}
.header__left{
    display: inline-flex;
    font-family: 'Gluten', cursive;
    font-size: 30px;
}
.coder{
    padding-top: 14px;
    padding-right: 10px;
}
h4{
    margin-top: 20px;
    font-weight: 1300;
}
.header__list{
    display: inline-flex;
    justify-content: space-between;
    padding-right: 15px;
    width: 70px;
    cursor: pointer;
}
.header__list:hover{
    font-weight: 600;
    border-bottom: #484646 1px solid;

}
ul
{
    list-style: none;
}
h1
{
    font-family: 'WindSong', cursive;
    text-shadow: #fff;
    float: left;
    margin-left:30px;
    margin-top: 10px;
    font-weight: 200;
}
h2
{
    font-family:Candara;
    text-shadow: #fff;
    font-size: 35px;
    margin-top: 10px;
}
p1
{
    margin-top: 55px;
    font-size: 45px;
    float: left;
    margin-left: -50px;
}
p2
{
    margin-top: 10px;
    font-size: 20px;
    float: left;
    margin-left:100px;
}
p3
{
    margin-top: 10px;
    font-size: 16px;
    float: left;
    margin-left:100px;
}
.header
{
   
    flex-direction: row;
    display: flex;
    position:relative;
    width:100%;
    height: 60px;
    padding: 20px 100px;
    background: transparent;
    justify-content: space-between;
}

.element__right
{
    display: inline-flex;
}
.element__form--two
{
    padding-top: 20px;
    flex: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#bed0f092,rgba(239, 190, 239, 0.605));
    border-radius: 30px;
    -moz-box-shadow: 3px 3px 5px 0px #666;
    -webkit-box-shadow: 3px 3px 5px 0px #666;
    box-shadow: 2px 7px 10px 4px #5a5858;
    position: absolute;
    top: 50%;
    left: 45%;
    right: 0;
    transform: translate(-50%,-50%);
    width: 27%;
    height: 500px;
    padding: 60px 0;
    margin: auto 100px;
    text-align: center;
    
}
.input__two--1, 
.input__two--2
{
    font-family: Candara;
    border: none;
    border-bottom: 2px solid rgb(20, 49, 52);
    background-color: transparent;
    margin-bottom: 35px;
    width: 250px;
    font-size: 14px;
}
.input__two--3{
    margin-left: -60px;
}

button
{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Trebuchet MS;
    font-style: bold;
    font-size: 16px;
    color: black;
    background-color:#5b96ef;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: #484646 3px 1px 2px 0px;
    margin-top: 35px;
    width: 150px;
    cursor: pointer;
}
.footer{
    background-color: transparent;
    background-color: rgb(250, 245, 253);
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    position:relative;
    padding: 0 40px;
}
li{
    list-style: none;
    padding-bottom: 20px;
}
.last__page{
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 24px;
}
.footer__VN, 
.footer__ENG{
    padding-top: 20px;
}
